<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>TWOT</title>
    <link rel="stylesheet" type="text/css" href="stylesheets/stylesheet.css">
    <link rel="icon" type="image/png" 
    		href="http://icons.iconarchive.com/icons/iconsmind/outline/16/Bird-icon.png"/>
  </head>
  <body>
  	{{{body}}}
  </body>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script type="text/javascript" src="javascripts/main.js"></script>
</html>